.dynamic-grid{
    position: relative;
    display: none;
}

.dynamic-grid.angular-grid{
    display: block;
}

.grid {
    border: 1px solid #cccccc;
    position: absolute;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
    overflow: hidden;
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
}
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}


*{
    box-sizing: border-box;
}

.flowGrid:before,.flowGrid:after{
    content: "";
    display: table;
}
.flowGrid:after{
    clear:both;
}
.flowGridItem{
    margin-bottom:10px;
    border: 1px solid #cccccc;
}
.flowGridItem img{
    width:100%;
}

.flowGridColumn{
    float: left;
    padding-left: 10px;
}
.flowGridColumn:last-of-type{
    padding-right: 10px;
}
