<footer class="page-footer light-blue darken-4">
	<div class="container">
		<div class="row">
			<div class="col l3 s12">
				<h5 class="white-text" translate="FOOTER.CONTENT.AUTH"> <i class="mdi-social-person"></i></h5>
				<p class="waves-effect waves-light grey-text text-lighten-4" translate="FOOTER.CONTENT.NAME"></p>
			</div>
			<div class="col l7 offset-l2 s12">
				<h5 class="waves-effect waves-light white-text" translate="FOOTER.LINK.TITLE"> <i class="mdi-social-school"></i></h5>
				<ul>
					<li class="waves-effect waves-light"><a class="while-text bold" translate="FOOTER.LINK.L1"></a></li>
					<li class="waves-effect waves-light"><a class="while-text bold" translate="FOOTER.LINK.L2"></a></li>
					<li class="waves-effect waves-light"><a class="while-text bold" translate="FOOTER.LINK.L3"></a></li>
					<li class="waves-effect waves-light"><a class="while-text bold" translate="FOOTER.LINK.L4"></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			<span translate="FOOTER.COPYRIGHT.TEXT"></span>
			<a class="grey-text text-lighten-4 right waves-effect waves-light"><span translate="FOOTER.COPYRIGHT.REF"></span> <i class="mdi-social-whatshot"></i></a> 
		</div>
	</div>
</footer>