<footer class="page-footer light-blue darken-4">
	<div class="container">
		<div class="row">
			<div class="col l3 s12">
				<h5 class="white-text">Tác giả</h5>
				<p class="waves-effect waves-light grey-text text-lighten-4">Tuyen-ng</p>
			</div>
			<div class="col l7 offset-l2 s12">
				<h5 class="waves-effect waves-light white-text">Research center</h5>
				<ul>
					<li class="waves-effect waves-light"><a class="while-text bold">Hanoi University of Science and Technology</a></li>
					<li class="waves-effect waves-light"><a class="while-text bold">School of Information Communication and Technology</a></li>
					<li class="waves-effect waves-light"><a class="while-text bold">
					Data Communications and Computer Networks</a></li>
					<li class="waves-effect waves-light"><a class="while-text bold">Hight Performance Computing Center</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			© 2015 Copyright by Tuyenng
			<a class="grey-text text-lighten-4 right waves-effect waves-light">giatuyentiensinh</a>
		</div>
	</div>
</footer>