<style type="text/css">
    h5 {
        margin-bottom: 0px;
    }
</style>
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text"> 
                    <span translate="FOOTER.CONTENT.AUTH"></span>
                    <i class="material-icons">fingerprint</i>
                </h5>
                <p class="waves-effect waves-light grey-text text-lighten-4" translate="FOOTER.CONTENT.NAME"></p>
            </div>
            <div class="col l7 offset-l2 s12">
                <h5 class="waves-effect waves-light white-text"> <span translate="FOOTER.LINK.TITLE"></span>
                <i class="material-icons">school</i>
                </h5>
                <ul>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold" translate="FOOTER.LINK.L1"></a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold" translate="FOOTER.LINK.L2"></a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold" translate="FOOTER.LINK.L3"></a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold" translate="FOOTER.LINK.L4"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span translate="FOOTER.COPYRIGHT.TEXT"></span>
            <a class="grey-text text-lighten-4 right waves-effect waves-light"><span translate="FOOTER.COPYRIGHT.REF"></span></a>
        </div>
    </div>
</footer>
