
<videogular ng-controller="musicCtrl"
	vg-player-ready="onPlayerReady" 
	vg-complete="onComplete" 
	vg-theme="config.theme.url"  
	vg-autoplay="config.autoPlay">

	<vg-audio vg-src="config.sources"></vg-audio>
	<vg-controls class="row">
		<div class="col-md-3">
			<vg-button class="col-sm-4" ng-show="audios.length-1" ng-click="play('prev')"><i class="mdi-av-skip-previous small"></i></vg-button>
			<vg-play-pause-button class="col-sm-4"></vg-play-pause-button>
			<vg-button class="col-sm-4" ng-show="audios.length-1" ng-click="play('next')"><i class="mdi-av-skip-next"></i></vg-button>					
		</div>

		<div class="col-md-5">
			<vg-timedisplay class="col-md-2">{{ currentTime | date:'mm:ss' }}</vg-timedisplay>
			<vg-scrubBar class="col-md-8">
				<vg-title>{{ config.title }}</vg-title>			
				<vg-scrubbarcurrenttime></vg-scrubbarcurrenttime>
			</vg-scrubBar>
			<vg-timedisplay class="col-md-2	">{{ timeLeft | date:'mm:ss' }}</vg-timedisplay>
		</div>

		<div class="col-md-3">			
			<vg-button class="col-md-6" ng-click="toggleShuffle()" title="Shuffle"><i class="mdi-av-shuffle" ng-class="{'text-danger':config.shuffle}"></i></vg-button>
			<vg-button class="col-md-6" ng-click="toggleRepeat()" title="Repeat"><i class="mdi-av-replay" ng-class="{'text-danger':config.repeat}"></i></vg-button>
		</div>

		<vg-volume class="col-md-1">
			<vg-mutebutton></vg-mutebutton>
		</vg-volume>
	</vg-controls>
</videogular>
