<div class="row">
  <div class="flow-text m-l">
    <h1 class="pink-text text-darken-4" translate="SKILL">SKILL</h1>
  </div>
</div>

<div [ngGrid]="gridConfig">

  <div *ngFor="let box of boxes; let i = index" [(ngGridItem)]="box.config">
    <div class="handle">Widget {{box.id}}
      <div class="box-header-btns pull-right">
        row: {{box.config.row}}
        col: {{box.config.col}}
        sizex: {{box.config.sizex}}
        sizey: {{box.config.sizey}}
      </div>
      <img src="assets/images/playframework.png" class="responsive-img" />
    </div>
  </div>
</div>
