<header class="navbar-fixed">
    <nav>
        <div class="nav-wrapper light-blue darken-4">
            <a routerLink="/cv" routerLinkActive="active" class="brand-logo waves-effect waves-light m-l"><span class="light">ng</span> - <span class="flow-text">Tuyến</span></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse" materialize="sideNav" [materializeParams]="[{menuWidth: 300, edge: 'left', closeOnClick: true, draggable: true}]">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li class="light-blue darken-4 waves-effect waves-light" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Trang chủ">
                    <a routerLink="/layout/home" routerLinkActive="active">
                        <i class="material-icons">home</i>
                        <!-- <svg style="width:25px;height:25px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M10,20V14H14V20H19V12H22L12,3L2,12H5V20H10Z" />
                        </svg> -->
                    </a>
                </li>
                <li class="light-blue darken-3 waves-effect waves-light" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Kỹ năng">
                    <a routerLink="/layout/skill" routerLinkActive="active">
                        <i class="material-icons">wifi</i>
                        <!-- <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,21L15.6,16.2C14.6,15.45 13.35,15 12,15C10.65,15 9.4,15.45 8.4,16.2L12,21M12,3C7.95,3 4.21,4.34 1.2,6.6L3,9C5.5,7.12 8.62,6 12,6C15.38,6 18.5,7.12 21,9L22.8,6.6C19.79,4.34 16.05,3 12,3M12,9C9.3,9 6.81,9.89 4.8,11.4L6.6,13.8C8.1,12.67 9.97,12 12,12C14.03,12 15.9,12.67 17.4,13.8L19.2,11.4C17.19,9.89 14.7,9 12,9Z" />
                        </svg> -->
                    </a>
                </li>
                <li class="light-blue darken-2 waves-effect waves-light" materialize="tooltip" data-position="bottom" data-delay="50" data-tooltip="Dự án đã tham gia">
                    <a routerLink="/layout/project" routerLinkActive="active">
                        <i class="material-icons">dialpad</i>
                        <!-- <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M12,19A2,2 0 0,0 10,21A2,2 0 0,0 12,23A2,2 0 0,0 14,21A2,2 0 0,0 12,19M6,1A2,2 0 0,0 4,3A2,2 0 0,0 6,5A2,2 0 0,0 8,3A2,2 0 0,0 6,1M6,7A2,2 0 0,0 4,9A2,2 0 0,0 6,11A2,2 0 0,0 8,9A2,2 0 0,0 6,7M6,13A2,2 0 0,0 4,15A2,2 0 0,0 6,17A2,2 0 0,0 8,15A2,2 0 0,0 6,13M18,5A2,2 0 0,0 20,3A2,2 0 0,0 18,1A2,2 0 0,0 16,3A2,2 0 0,0 18,5M12,13A2,2 0 0,0 10,15A2,2 0 0,0 12,17A2,2 0 0,0 14,15A2,2 0 0,0 12,13M18,13A2,2 0 0,0 16,15A2,2 0 0,0 18,17A2,2 0 0,0 20,15A2,2 0 0,0 18,13M18,7A2,2 0 0,0 16,9A2,2 0 0,0 18,11A2,2 0 0,0 20,9A2,2 0 0,0 18,7M12,7A2,2 0 0,0 10,9A2,2 0 0,0 12,11A2,2 0 0,0 14,9A2,2 0 0,0 12,7M12,1A2,2 0 0,0 10,3A2,2 0 0,0 12,5A2,2 0 0,0 14,3A2,2 0 0,0 12,1Z" />
                        </svg> -->
                    </a>
                </li>
                <li class="light-blue darken-1 waves-effect waves-light">
                    <a routerLink="/layout/friend" routerLinkActive="active">
                        <i class="material-icons">people</i>
                        <!-- <svg style="width:24px;height:24px" viewBox="0 0 24 24">
                            <path fill="#000000" d="M4.5,11A1.5,1.5 0 0,0 6,9.5A1.5,1.5 0 0,0 4.5,8A1.5,1.5 0 0,0 3,9.5A1.5,1.5 0 0,0 4.5,11M22.17,9.17C22.17,5.3 19.04,2.17 15.17,2.17A7,7 0 0,0 8.17,9.17C8.17,12.64 10.69,15.5 14,16.06V20H6V17H7V13A1,1 0 0,0 6,12H3A1,1 0 0,0 2,13V17H3V22H19V20H16V16.12C19.47,15.71 22.17,12.76 22.17,9.17Z" />
                        </svg> -->
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a class="waves-effect waves-blue" routerLink="/layout/home" routerLinkActive="active">Trang chủ</a></li>
                <li><a class="waves-effect waves-blue" routerLink="/layout/skill" routerLinkActive="active">Kỹ năng</a></li>
                <li><a class="waves-effect waves-blue" routerLink="/layout/project" routerLinkActive="active">Dự án đã tham gia</a></li>
                <li><a class="waves-effect waves-blue" routerLink="/layout/friend" routerLinkActive="active">Thông tin</a></li>
            </ul>
        </div>
    </nav>
</header>
<router-outlet></router-outlet>
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l3 s12">
                <h5 class="white-text">
                    <!-- <span>Auth</span> -->
                    <span>{{ 'FOOTER.CONTENT.AUTH' | translate }}</span>
                    <i class="material-icons">fingerprint</i>
                </h5>
                <p class="waves-effect waves-light grey-text text-lighten-4">
                    {{ 'FOOTER.CONTENT.NAME' | translate }}
                </p>
            </div>
            <div class="col l7 offset-l2 s12">
                <h5 class="waves-effect waves-light white-text"> 
                {{ 'FOOTER.LINK.TITLE' | translate }}
                <i class="material-icons">school</i>
                </h5>
                <ul>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold">{{ 'FOOTER.LINK.L1' | translate }}</a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold">{{ 'FOOTER.LINK.L2' | translate }}</a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold">{{ 'FOOTER.LINK.L3' | translate }}</a>
                    </li>
                    <li class="waves-effect waves-light">
                        <a class="while-text bold">{{ 'FOOTER.LINK.L4' | translate }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <span>{{ 'FOOTER.COPYRIGHT.TEXT' | translate }}</span>
            <a class="grey-text text-lighten-4 right waves-effect waves-light">
            {{ 'FOOTER.COPYRIGHT.REF' | translate }}
            </a>
        </div>
    </div>
</footer>
