<div class="row">
    <div class="col m10 s12">
        <h5 class="red-text">Gioi thieu ve ban than </h5>
        <div class="divider"></div>
        <div class="section">
            Khong thu vi lam nhung toi xin gioi thieu ve ban than minh , toi la Kim Anh , toi nam nay 21 tuoi , hien toi dang lam viec cung vs cac ban cua toi tai thu vien Ta Quang Buu . Toi hoi thay xau ho vs ban Tuyen la khong cham chi tim hieu de ban ay phai giuc nhieu. Toi xin hua se cham chi trong thoi gian toi . :v
        </div>
        <h5 class="red-text">Cac ten khac </h5>
        <div class="divider"></div>
        <div class="section">
            O nha , hoi nho bo toi hay goi toi la Oanh, tren lop ban be cap 3 cua toi goi toi la U Kim , gan day ban be cua toi hay goi toi bang cai ten ngan gon la Kim :3 , goi bang ten nao thi toi cung rat la vui :3
        </div>
        <h5 class="red-text">Trich dan yeu thich </h5>
        <div class="divider"></div>
        <div class="section">
        	Nếu như được làm lại, ta sẽ tìm cách sửa chữa lỗi lầm nào? Sẽ lựa chọn xoá đi nỗi đau nào, sự ân hận, niềm hối tiếc nào? Liệu ta có dám mang lại một ý nghĩa mới cho sự tồn tại của mình không? Nhưng để trở thành ai? Để đi đến đâu? Và cùng với ai?
            <blockquote>
                Guillaume Musso
            </blockquote>
        </div>
    </div>
</div>