<div class="row">
    <div class="col m10 s12">
    <div class="section valign-wrapper" style="height: 200px">
        <img src="images/Hanoi.jpg" alt="" class="circle responsive-img image ">
        <span class="red-text">dang lam viec tai Ha Noi</span>
    </div>
    <div class="divider"></div>
    <div class="section" style="height: 100px">
        <span class="red-text">Ky nang chuyen mon: </span>HTML, JAVASCRIPT, JAVA, PHP.
    </div>
    <div class="divider"></div>
    <div class="section valign-wrapper" style="height: 200px ">
        <img src="images/bkhn.png" alt="" class="circle responsive-img image">
        <a href="http://soict.hust.edu.vn" target="_blank">CNTT ,Dai hoc Bach Khoa Ha Noi </a>
    </div>
    <div class="divider"></div>
    <div class="section valign-wrapper" style="height: 200px">
        <img src="images/thpt.jpg" alt="" class="circle responsive-img image">
        <a href="http://thpt-vinhloc-thanhhoa.edu.vn/" target="_blank">Truong trung hoc pho thong Vinh Loc</a>
    </div>
    </div>
    <div class="col m2 s12">
    </div>
</div>