<header>
    <nav class="top-nav hide-on-large-only">
        <div class="container">
            <a href="#" data-activates="slide-out" class="button-collapse top-nav full hide-on-large-only"><i class="mdi-navigation-menu"></i></a>
        </div>
        <div class="container">
            <div class="nav-wrapper">
                <a class="page-title">Trang chủ</a>
            </div>
        </div>
    </nav>
</header>
<ul id="nav-mobile" class="side-nav fixed hide-on-small-only" style="width: 200px;">
    <li class="logo" ng-href="google.com">
        <img src="images/image-kimanh.jpg" alt="" class="circle responsive-img">
    </li>  
    <ul class="collapsible collapsible-accordion">
        <li>
            <a ui-sref="kimanh.tongquan" class="waves-effect waves-purple">Giới thiệu</a>            
        </li>
        <li>
            <a ui-sref="kimanh.congviec" class="waves-effect waves-purple">Công việc</a>
        </li>
        <li>
            <a ui-sref="kimanh.banthan" class="waves-effect waves-purple">Bản thân</a>
        </li>
        <li>
            <a ui-sref="kimanh.banbe" class="waves-effect waves-purple">Bạn bè</a>
        </li>
        <li>
            <a ui-sref="kimanh.albumanh" class="waves-effect waves-purple">Album ảnh</a>
        </li>
        <li><a ui-sref="app.home" class="waves-effect waves-purple">Quay về trang chủ</a></li>
    </ul>
</ul>

<ul id="slide-out" class="side-nav left" style="width: 200px; left:0px">
    <li class="logo" ng-href="google.com">
        <img src="images/yuna.jpg" alt="" class="circle responsive-img">
    </li>
    <ul class="collapsible collapsible-accordion">
        <li>
            <a ui-sref="kimanh.tongquan" class="waves-effect waves-purple">Giới thiệu</a>            
        </li>
        <li>
            <a ui-sref="kimanh.congviec" class="waves-effect waves-purple">Công việc</a>
        </li>
        <li>
            <a ui-sref="kimanh.banthan" class="waves-effect waves-purple">Bản thân</a>
        </li>
        <li>
            <a ui-sref="kimanh.banbe" class="waves-effect waves-purple">Bạn bè</a>
        </li>
        <li>
            <a ui-sref="kimanh.albumanh" class="waves-effect waves-purple">Album ảnh</a>
        </li>
        <li><a ui-sref="app.home" class="waves-effect waves-purple">Quay về trang chủ</a></li>
    </ul>
</ul>
    
<div class="container">        
    <div ui-view></div>
</div>

<script type="text/javascript">
    // Initialize collapse button
    $('.button-collapse').sideNav({
        menuWidth: 200,
        edge: 'left',
        closeOnClick: true
    });
</script>