<div class="row">
    <div class="col s12 m10">
        <div class="section valign-wrapper">
            <img src="images/Hanoi.jpg" alt="" class="circle responsive-img image">
            <span class="red-text">Đang làm việc ở Hà Nội</span>
        </div>
        <div class="divider "></div>
        <div class="section valign-wrapper">
            <img src="images/bkhn.png" alt="" class="circle responsive-img image">
            <span class="red-text">hoc CNTT tai dai hoc bach khoa Hà Nội </span>
        </div>
        <div class="divider"></div>
        <div class="section valign-wrapper">
            <img src="images/Hanoi.jpg" alt="" class="circle responsive-img image">
            <span class="red-text">song tai Hà Nội </span>
        </div>
    </div>
    <div class="col s12 m2">
        <div class="section valign-wrapper">
            <i class="material-icons mdi-communication-stay-current-portrait"></i> 01697374795

        </div>
        <div class="section valign-wrapper">
            <i class="material-icons mdi-communication-email"></i> kimanhitbk@gmail.com
        </div>
        <div class="section valign-wrapper">
            <i class="material-icons mdi-maps-location-history"></i> 14-12-1994
        </div>
    </div>
</div>