<div class="card">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="images/WP_20150118_07_27_34_Pro.jpg">
	</div>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Mộc Châu<i class="material-icons right">Đọc thêm</i></span>
		<p><a href="#">Link liên kết</a></p>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">Mộc Châu<i class="material-icons right" close>Đóng</i></span>
		<p>Buổi sáng ngày 18/01/2015 ở Mộc Châu</p>
	</div>
</div>