<style type="text/css">
nav .brand-logo {
    color: #212121;
}

nav ul a {
    color: #212121;
}
</style>
<!-- header -->
<header class="navbar-fixed">
    <nav class="white">
        <div>
            <a href="#slide" class="brand-logo waves-effect waves-light m-l">Tuyen-ng</a>
            <!-- activate side-bav in mobile view -->
            <a href="#" data-activates="mobile-demo" class="button-collapse black-text">
                <i class="material-icons">reorder</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#experience">EXPERIENCE</a></li>
                <li><a href="#work">PROJECT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
            <!-- navbar for mobile -->
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#experience">EXPERIENCE</a></li>
                <li><a href="#work">PROJECT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
        </div>
    </nav>
</header>
<!-- /header -->
<!-- content-->
<!-- slide -->
<div id="slide" class="deep-purple lighten-5 scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 l6">
                <h2>Tuyen</h2>
                <h3>Nguyen Gia</h3>
                <h4 class="grey-text text-lighten-1">HUST Engineering</h4>
            </div>
            <div class="col s12 m6 l6">
                <a ui-sref="app.home"><img class="responsive-img" src="images/image-tuyen.jpg" /></a>
            </div>
        </div>
    </div>
</div>
</div>
<!-- /slide -->
<!-- about -->
<div id="about" class="scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 m5 l5">
                <img class="responsive-img" src="images/WP_20150621_07_55_14_Pro.jpg" /></img>
                <img class="responsive-img" src="images/IMG_0586.jpg" /></img>
            </div>
            <div class="col s12 m7 l7">
                <h2>About me</h2>
                <p>Hi, My name's Tuyen,</p>
                <p>I'm 22 years old, My hometown in Viet Nam</p>
                <p>I'm have been practice social network, web server and data analysis with my team for many year. I always want to use my skills to build big project.</p>
                <hr />
                <h2>My skill</h2>
                <div>
                    <h5>
                        Presentation
                        <span class="right">70%</span>
                    </h5>
                    <div class="progress light-blue darken-1">
                        <div class="determinate light-blue darken-4" style="width: 70%"></div>
                    </div>
                </div>
                <div>
                    <h5>
                        Research
                        <span class="right">80%</span>
                    </h5>
                    <div class="progress light-blue darken-1">
                        <div class="determinate light-blue darken-4" style="width: 80%"></div>
                    </div>
                </div>
                <div>
                    <h5>
                        Team work
                        <span class="right">85%</span>
                    </h5>
                    <div class="progress light-blue darken-1">
                        <div class="determinate light-blue darken-4" style="width: 85%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /about -->
<!-- Experience -->
<div id="experience" class="deep-purple lighten-5 scrollspy">
    <div class="container">
        <div class="row">
            <div class="col s12 m3">
                <img src="images/playframework.png" class="responsive-img" />
                <h5>Play framework</h5>
                <h6>High velocity web framework</h6>
                <p>Play Framework is a web development framework with Scala and Java APIs that empowers developers to build applications with an ease unparalleled on the JVM.</p>
            </div>
            <div class="col s12 m3">
                <img src="images/spark.png" class="responsive-img" />
                <h5>Spark</h5>
                <h6>Lightning-fast, distributed compute engine</h6>
                <p>Apache Spark is a lightning-fast, distributed compute engine for processing large, streaming datasets.</p>
            </div>
            <div class="col s12 m3">
                <img src="images/mysql.png" class="responsive-img" />
                <h5>MySQL, MariaDB</h5>
                <p>MySQL is the world's most popular open source database. Whether you are a fast growing web property, technology ISV or large enterprise, MySQL can cost-effectively help you deliver high performance, scalable database applications.</p>
            </div>
            <div class="col s12 m3">
                <img src="images/cassandra.png" class="responsive-img" />
                <h5>Cassandra</h5>
                <p>The Apache Cassandra database is the right choice when you need scalability and high availability without compromising performance.</p>
            </div>
        </div>
    </div>
</div>
<!-- /Experience -->
<!-- Work -->
<div id="work" class="scrollspy">
    <div class="container">
        <h2>Project</h2>
        <p>Last project</p>
        <div class="row">
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/img_bkinternship.jpeg">
                    </div>
                    <div class="card-content">
                        <p>Trang quản lý thực tập viện CNTT_TT ĐHBKHN</p>
                    </div>
                    <div class="card-action">
                        <a href="#">BK Internship</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/itbee.png">
                    </div>
                    <div class="card-content">
                        <p>The social network in seeking talent, referring jobs for people, friend</p>
                    </div>
                    <div class="card-action">
                        <a href="http://itbee.vn">Itbee</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="card">
                    <div class="card-image">
                        <img src="images/bkiot.png">
                    </div>
                    <div class="card-content">
                        <p>Building platform OM2M in IoT system</p>
                    </div>
                    <div class="card-action">
                        <a href="#">IoT research</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Work -->
<!-- /content-->
<!-- footer -->
<footer id="contact" class="page-footer blue-grey lighten-5 scrollspy">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="black-text">Contact me</h5>
                <p class="grey-text text-darken-4">You can contact me via email or the phone</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="black-text">Information</h5>
                <ul>
                    <li><a class="grey-text text-darken-3"><strong>Location</strong> Hanoi, Vietnam</a></li>
                    <li><a class="grey-text text-darken-3"><strong>Phone</strong> (+84) 167 629 8972</a></li>
                    <li><a class="grey-text text-darken-3"><strong>Email</strong> giatuyentiensinh@gmail.com</a></li>
                    <li><a class="grey-text text-darken-3"><strong>Web</strong> giatuyentiensinh.github.io</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container black-text">
            © 2016 Copyright by Tuyenng
            <a class="grey-text text-darken-4 right">Tuyen's site</a>
        </div>
    </div>
</footer>
<!-- /footer -->
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="#slide" class="btn-floating btn-large red">
        <i class="material-icons">arrow_upward</i>
        <!-- <i class="large mdi-action-language"></i> -->
    </a>
</div>
<script type="text/javascript">
$('.button-collapse').sideNav({
    menuWidth: 300, // Default is 240
    edge: 'right', // Choose the horizontal origin
    closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
});
</script>
<script type="text/javascript">
$(document).ready(function() {
    $('.scrollspy').scrollSpy();
});
</script>
