<div class="row">
	<div class="col s12 m6">
		<div class="card small cyan darken-2">
			<div class="card-content white-text">
				<span class="card-title">Bùi Tuấn Ánh</span>
				<p>Phân tích hệ thống và tìm hiểu công nghệ</p>
			</div>
			<div class="card-action">
				<a href>Chi tiết</a>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card small green darken-4">
			<div class="card-content white-text">
				<span class="card-title">Nguyễn Đình Phúc</span>
				<p>Trung gian với <span class="green-text text-darken-1">client và server</span></p>
			</div>
			<div class="card-action">
				<a href>Chi tiết</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6 offset-m3">
		<div class="card small blue-grey">
			<div class="card-content white-text">
				<span class="card-title">Nguyễn Gia Tuyến</span>
				<p>Phân tích dữ liệu và khai phá hệ thống</p>
			</div>
			<div class="card-action">
				<a href>Chi tiết</a>
			</div>
		</div>
	</div>

	<div class="col s12 m6">
		<div class="card small pink darken-3">
			<div class="card-content white-text">
				<span class="card-title">Lê Thị Kim Anh</span>
				<p>Làm frontend với <span class="pink-text text-darken-1">AngularJs</span></p>
			</div>
			<div class="card-action">
				<a ui-sref="kimanh.tongquan">Chi tiết</a>
			</div>
		</div>
	</div>
	<div class="col s12 m6">
		<div class="card small blue darken-4">
			<div class="card-content white-text">
				<span class="card-title">Đoàn Anh Tuấn</span>
					<p>Làm backend với <span class="blue-text text-darken-1">PlayFramework - Java API</span></p>
			</div>
			<div class="card-action">
				<a href>Chi tiết</a>
			</div>
		</div>
	</div>

</div>
