<section>
	<!-- 
	<div parallax-container>
		<div parallax>
			<img class="responsive-img" src="images/WP_20150118_001.jpg"/>
		</div>
	</div> -->
	<div class="parallax-container">

		<div class="container center-align">
    		<h1 class="hoverable waves-effect waves-red blue-text text-accent-4" translate="HOME.NAME"><!-- Nguyễn Gia Tuyến --></h1>
    		<p class="hoverable grey-text text-darken-3 lighten-3 waves-effect waves-green" translate="HOME.SLOGAN"></p>
		</div>

	    <div parallax>
	        <img src="images/Cycle.jpeg"/>
	    </div>
		<!-- <div class="container center-align">
    		<h1 class="hoverable waves-effect waves-red red-text text-darken-4">Chúc mừng năm mới</h1>
    		<br />
    		<h4 class="hoverable deep-orange-text lighten-3 waves-effect waves-green">
    			2016
    		</h4>
		</div>

	    <div parallax>
	        <img src="images/hoa-dao-dep-21.jpg"/>
	    </div>
	    <div class="center-align orange-text text-accent-4">
	    	<h1 class="hide-on-small-only truncate">Chúc mọi người và gia đình năm mới vui vẻ <i class="mdi-image-tag-faces"></i></h1>
	    	<h5 class="hide-on-med-and-up truncate">Chúc mọi người và gia đình năm mới vui vẻ <i class="mdi-image-tag-faces"></i></h5>
	    </div> -->
	</div>
	<div class="section white">
		<!-- Trang web ca nhan cua toi -->
    	<!-- <div class="row container">
    		<div class="progress light-green">
    			<div class="indeterminate red darken-4"></div>
    		</div>
    	</div> -->
    </div>
</section>

<section>
    <div class="slider" slider>
	    <ul class="slides">	        
	        <li>
	            <img src="images/WP_20150621_07_55_12_Pro.jpg" />
	            <div class="caption right-align">
	                <h3 translate="HOME.IMAGE.H1"></h3>
	                <!-- <h4>Chúc bạn một năm mới</h4>
					<h4>An Khang - Thịnh vượng</h4>
					<h4>Phát tài - Phát lộc</h4> -->
	            </div>
	        </li>
	        <li>
	            <img src="images/WP_20160123_07_42_08_Pro.jpg" />
	            <div class="caption left-align">
	                <!-- <h3>Bình minh ở Đồ Sơn</h3> -->
	                <h3 translate="HOME.IMAGE.H2"></h3>
	                <!-- <h4>Cung chúc tân niên. Sức khỏe vô biên</h4>
					<h4>Thành công liên miên. Hạnh phúc triền miên</h4>
					<h4>Túi luôn đầy tiền. Sung sướng như tiên</h4>
					<h4>Chúc mừng năm mới</h4> -->

	            </div>
	        </li>
	        <li>
	            <!-- <img src="images/WP_20150118_07_27_34_Pro.jpg"/> -->
	            <img src="images/WP_20150118_07_20_53_Pro.jpg"/>
	            <div class="caption left-align">
	                <h3 translate="HOME.IMAGE.H3"></h3>
<!-- 	                <h4>Cung Chúc Tân Xuân Phước Vĩnh Cửu</h4>
					<h4>Chúc Trong Gia Quyến Được An Khương</h4>
					<h4>Tân Niên Lai Đáo Đa Phú Quý</h4>
					<h4>Xuân Đến An Khương Vạn Thọ Tường</h4> -->
	            </div>
	        </li>
	    </ul>
	</div>
</section>


<section class="m-t m-b">
	<div class="col s12 m12 l12">
		<h1 class="m-l blue-text text-darken-4 light waves-effect waves-yellow" translate="HOME.FRIEND.TITLE"></h1>
		<div class="m flow-text">
			<p>Các bạn ạ, một năm đã trôi qua, chúng đã có khoảng thời gian gắn bó (ý mình là gắn thôi chứ không bó :v <i class="mdi-communication-dialer-sip"></i>), thân thiết</p>
			<p>Một năm chúng ta có bao kỷ niệm (kỷ niệm ở đâu thì nhìn hình bên dưới nhé mấy thím). <i class="mdi-av-queue-music"></i> <i class="mdi-av-queue-music"></i> <i class="mdi-av-queue-music"></i> Khi hai ta chung một nhà ... </p>
		</div>
		<section>
			<div class="parallax-container">
			    <div parallax><img class="image-test" src="images/WP_20150619_12_51_36_Pro.jpg"></div>
			</div>
		</section>
		<h1 class="m-l blue-text text-darken-4 light right-align m-r" onclick="Materialize.fadeInImage('.image-test');" ng-click="showAnimation();" translate="HOME.FRIEND.TITLE"></h1>
		<div class="m flow-text right-align">
			Dù năm cũ có đi qua như thế nào thì chúc cho các bạn năm mới sẽ đạt nhiều thành công và may mắn trong năm tới, ai chưa có gấu thì phấn đấu có gấu ai phấn đấu tiền tài thì được tiền tài và 1 điều quan trọng là không bị tạch. HAPPY NEW YEARS !!!
		</div>
		<section>
			<div class="parallax-container">
			    <div parallax><img class="image-test" src="images/WP_20150117_07_34_42_Pro.jpg"></div>
			</div>
		</section>		
	</div>
</section>

<div class="row m">
	<div ng-show="checkShow" class="right">
			<div class="chip">
			  <img src="images/image-anhtuan.jpg" alt="Anh Tuấn">
			  Anh Tuấn
			</div>
			<div class="chip">
			  <img src="images/image-dinhphuc.jpg" alt="Đình Phúc">
			  Đình Phúc
			</div>
			<div class="chip">
			  <img src="images/image-kimanh.jpg" alt="Kim Anh">
			  Kim Anh
			</div>
			<div class="chip">
			  <img src="images/image-tuananh.jpg" alt="Tuấn Ánh">
			  Tuấn Ánh
			</div>
			<div class="chip">
			  <img src="images/mywebsite.png" alt="Tuấn Ánh">
			  Còn nữa, đang cập nhật ...
			</div>
		</div>
</div>

<div class="container m flow-text blue-text text-darken-4">
	<h1 translate="HOME.MYSTUDENTED"></h1>
</div>

<section class="m-t">
	<div class="container">
		<div class="row">
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Phượt Mộc Châu" src="images/WP_20150117_07_34_42_Pro.jpg">
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Karaoke" src="images/WP_20150307_07_34_42_Pro.jpg">
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Bê tráp cùng Ánh baby" src="images/WP_20151123_07_19_14_Pro.jpg">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row col s12 m12 l12">
			<div class="progress amber darken-4">
				<div class="indeterminate light-green"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Nhà nấm năm 2" src="images/WP_20150118_004.jpg">
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Đồ Sơn Hải Phòng" src="images/WP_20150621_07_55_14_Pro.jpg">				
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Team bê tráp cho a Trung" src="images/WP_20151123_07_18_57_Pro.jpg">
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row col s12 m12 l12">
			<div class="progress lime darken-1">
				<div class="indeterminate"></div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Phượt Mộc Châu" src="images/WP_20150118_07_40_34_Pro.jpg">
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Đồ Sơn Hải Phòng" src="images/WP_20150619_16_41_01_Pro.jpg">
			</div>
			<div class="col s4 m4 l4">
				<img materialboxed class="responsive-img hoverable" data-caption="Ăn bún cùng với Phúc muội" src="images/WP_20151123_07_19_20_Pro.jpg">
			</div>
		</div>
	</div>
</section>