<!-- header -->
<div ng-include="'views/blocks/header.html'"></div>			
<!-- /header -->

<!-- menu -->
<!-- <div ng-include="'views/blocks/menu.html'"></div> -->
<!-- /menu -->

<!-- content-->
<div ui-view></div>
<!-- /content-->

<!-- footer -->
<div ng-include="'views/blocks/footer.html'"></div>
<!-- /footer -->

<!-- music -->
<!-- <div ng-include="'views/blocks/music.html'" ng-hide="true"></div> -->
<!-- <div ng-include="'views/blocks/music.html'"></div> -->
<!-- /music -->

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">language</i>
        <!-- <i class="large mdi-action-language"></i> -->
    </a>
    <ul>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;" class="btn-floating red accent-4" ng-click="changelang('es')">EN</a></li>
        <li><a style="transform: scaleY(0.4) scaleX(0.4) translateY(40px); opacity: 0;" class="btn-floating indigo darken-3" ng-click="changelang('vn')">VI</a></li>
    </ul>
</div>