<div>
  <!--
	<div parallax-container>
		<div materialize="parallax">
			<img class="responsive-img" src="assets/images/WP_20150118_001.jpg"/>
		</div>
	</div> -->
  <div class="parallax-container">
    <div class="container center-align">
      <h1 class="hoverable waves-effect waves-red blue-text text-accent-4">
        Nguyễn Gia Tuyến
      </h1>
      <p class="hoverable grey-text text-darken-3 lighten-3 waves-effect waves-green">
        STATISTICS MEAN NEVER HAVING TO SAY YOU'RE CERTAIN
      </p>
    </div>
    <div materialize="parallax">
      <img src="assets/images/Cycle.jpeg" />
    </div>
  </div>
  <div class="section white">
    <!-- Trang web ca nhan cua toi -->
    <!-- <div class="row container">
    		<div class="progress light-green">
    			<div class="indeterminate red darken-4"></div>
    		</div>
    	</div> -->
  </div>
</div>
<section>

  <div materialize="carousel" [materializeParams]="[{full_width: true}]" class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-item">
      <div class="col l3 m4 s6">
        <h2 class="text-img flow-text">Bình minh ở Đồ Sơn</h2>
        <img class="image responsive-img" src="assets/images/WP_20150621_07_55_12_Pro.jpg" />
      </div>
    </div>
    <div class="carousel-item">
      <h2 class="text-img flow-text white-text">Liên hoan tân niên 2015</h2>
      <img class="image responsive-img" src="assets/images/WP_20160123_07_42_08_Pro.jpg" />
    </div>

    <div class="carousel-item">
      <!-- <img src="assets/images/WP_20150118_07_27_34_Pro.jpg"/> -->
      <h2 class="text-img flow-text">Itbee team</h2>
      <img class="image responsive-img" src="assets/images/IMG_0586.jpg" />
    </div>
  </div>
</section>
<section class="m-t m-b">
  <div class="col s12 m12 l12">
    <h1 class="m-l blue-text text-darken-4 light waves-effect waves-yellow" translate="HOME.FRIEND.TITLE"></h1>
    <section>
      <div class="parallax-container">
        <!-- <div materialize="parallax"><img class="image-test" src="assets/images/WP_20150619_12_51_36_Pro.jpg"></div> -->
        <div materialize="parallax"><img class="image-test" src="assets/images/weavesilk2.png"></div>
      </div>
    </section>
    <h1 class="m-l blue-text text-darken-4 light right-align m-r" onclick="Materialize.fadeInImage('.image-test');" ng-click="showAnimation();" translate="HOME.FRIEND.TITLE"></h1>
    <div class="m flow-text right-align">
    </div>
    <!-- <div class="row">
      <img class="responsive-img pull-right" align="right" src="assets/images/GemmaChan.png" />
    </div> -->
    <section>
      <div class="parallax-container">
        <div materialize="parallax">
          <img src="assets/images/WP_20150118_001.jpg">
          <!-- <img class="image-test" src="assets/images/WP_20150117_07_34_42_Pro.jpg"> -->
        </div>
        <img class="responsive-img" align="right" src="assets/images/GemmaChan.png" />
      </div>
    </section>
  </div>
</section>
<!-- <div class="row m">
  <div class="right">
    <div class="chip">
      <img src="assets/images/image-anhtuan.jpg" alt="Anh Tuấn"> Anh Tuấn
    </div>
    <div class="chip">
      <img src="assets/images/image-dinhphuc.jpg" alt="Đình Phúc"> Đình Phúc
    </div>
    <div class="chip">
      <img src="assets/images/image-kimanh.jpg" alt="Kim Anh"> Kim Anh
    </div>
    <div class="chip">
      <img src="assets/images/image-tuananh.jpg" alt="Tuấn Ánh"> Tuấn Ánh
    </div>
    <div class="chip">
      <img src="assets/images/image-tuyen.jpg" alt="Tuấn Ánh"> Còn nữa, đang cập nhật ...
    </div>
  </div>
</div> -->
<div class="container m flow-text blue-text text-darken-4">
  <h1>Ảnh lúc sinh viên</h1>
</div>
<section class="m-t">
  <div class="container">
    <div class="row">
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Phượt Mộc Châu" src="assets/images/WP_20150117_07_34_42_Pro.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Karaoke" src="assets/images/WP_20150307_07_34_42_Pro.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Thư viện Tạ Quang Bửu năm nhất" src="assets/images/mehust.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col s12 m12 l12">
      <div class="progress amber darken-4">
        <div class="indeterminate light-green"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Khởi nghiệp cùng Kawai" src="assets/images/kawai.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Đồ Sơn Hải Phòng" src="assets/images/WP_20150621_07_55_14_Pro.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Team bê tráp cho a Trung" src="assets/images/WP_20151123_07_18_57_Pro.jpg">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row col s12 m12 l12">
      <div class="progress lime darken-1">
        <div class="indeterminate"></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Phượt Mộc Châu" src="assets/images/WP_20150118_07_40_34_Pro.jpg">
      </div>
      <div class="col s4 m4 l4">
        <img materialize="materialbox" class="responsive-img hoverable" data-caption="Ăn bún cùng với Ánh muội" src="assets/images/WP_20151123_07_19_14_Pro.jpg">
      </div>
      <div class="col s4 m4 l4">
      <img materialize="materialbox" class="responsive-img hoverable" data-caption="Ăn bún cùng với Phúc muội" src="assets/images/WP_20151123_07_19_20_Pro.jpg">
      </div>
    </div>
  </div>
</section>
